@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Manrope&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --chakra-petch: 'Chakra Petch', 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

nav {
    background-color: #581c87;
    grid-row: 1 / 3;
    z-index: 2;
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
}

.nav-wrapper {
    display: grid;
    position: sticky;
    top: 0;
    grid-template-rows: 2fr 5fr 2fr;
    grid-template-columns: minmax(250px, 1fr);
    padding-left: 1rem;
    max-height: 100%;
}

.dashboard-logo {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 60px;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.dashboard-logo h1 {
    font-family: var(--chakra-petch);
    color: #1d4ed8;
    text-shadow: 0px 5px 5px rgba(51, 51, 51, 1);
}

nav ul {
    list-style-type: none;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 40px 1fr;
    row-gap: 1rem;
    column-gap: 1.5rem;
    align-items: center;
    color: rgb(206, 204, 204);
}

header {
    background-color: #1d4ed8;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding-left: 2.5rem;
    z-index: 1;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.top-part {
    display: grid;
    grid-template-columns: 3fr minmax(310px, 1.2fr);
    padding-top: 0.5rem;
}

.search-bar {
    display: grid;
    column-gap: 0.7rem;
    grid-template-columns: 30px 85%;
    align-items: center;
}

label {
    display: grid;
    align-items: center;
}

input {
    appearance: none;
    height: 1.7rem;
    border-style: none;
    border-radius: 10px;
    padding: 0 5px;
    font-size: inherit;
}

input::placeholder {
    font-size: 0.9rem;
    padding-left: 0.1rem;
}

.user-info {
    display: grid;
    grid-template-columns: 25px 50px 1fr;
    align-items: center;
    column-gap: 1.5rem;
    justify-self: center;
}

.user-info img:nth-child(2) {
    width: 50px;
}

.user-info span {
    font-size: 1.3rem;
}

.user-info p {
    white-space: nowrap;
    color: white;
    font-family: var(--chakra-petch);
}

.bottom-part {
    display: grid;
    grid-template-columns: minmax(328px, 3fr) minmax(368px, 1.5fr);
    align-items: center;
}

.user-welcome {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.user-welcome img {
    width: 75px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    color: white;
}

.welcome-text * {
    font-family: var(--chakra-petch);
}

.header-buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    padding: 0.5rem 2.1rem;
    border-color: white;
    border-style: none;
    border-radius: 15px;
    background-color: white;
    font-weight: bold;
    font-size: inherit;
    font-family: var(--chakra-petch);
}

section {
    background-color: #334155;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem 1rem;
    column-gap: 1rem;
    row-gap: 2rem;
}

.project {
    grid-row: 1 / 3;
}

.project-container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
}

.project-cards {
    display: grid;
}

.project-buttons {
    display: grid;
    grid-template-columns: 25px 25px 25px;
    column-gap: 1rem;
    justify-self: end;
    align-self: end;
}

.announcement-container {
    display: grid;
    row-gap: 1rem;
}

.announcement-info {
    width: 90%;
    justify-self: center;
}

.trending-container {
    display: grid;
    row-gap: 2rem;
}

.trending-user {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 1rem;
}

.trending-user-info p:nth-child(2) {
    margin-top: 0.3rem;
}